
body {
    font-family: Helvetica, sans-serif;
   
}
@media only screen and (min-width: 1040px){
    body{
        margin: auto 200px;
    }
}
 
main {
     margin: auto 20px; 
}
h1 {
    font-family: "adelle-sans",Helvetica,sans-serif;
    font-size: 44px;
}
#navbar_prop {
    margin-left: -12px;
}
.float_left {
   display: inline-block;
   padding: 10px;
   padding-bottom: 0px;   
   margin-left: -5px;
}

.tect_navL {
    border-top: pink solid 2px;
    border-right:  pink solid 2px;
}
.facebook_navL {
    border-top: blue solid 2px;
    border-right:  blue solid 2px;
    /* transform: skew(15deg, 15deg); */
}
.cybersecurity_navL {
    border-top: red solid 2px;
    border-right:  red solid 2px;
}
.uppercase {
    text-transform: uppercase;
}
.about_caption {
    margin-top: -10px;
    font-size: 15px;
    margin-bottom: 20px;
}
.icon_box {
     word-spacing: 20px;
}
.icon_size {
    width: 20px;
    height: 20px;
   
}
