
body {
    font-family: Helvetica, sans-serif;
    color: rgb(75, 75, 75);
}
/* Some responsive for laptop view 1040px and plus */
@media only screen and (min-width: 1040px){
    body{
        margin: auto 200px;
    }
    .container {
        display: grid;
        grid-template-columns: 69% 29%; 
    }
}
 
main {
     margin: auto 20px; 
}

h1 {
    font-family: "adelle-sans",Helvetica,sans-serif;
    font-size: 44px;
    color: black;
}
/* To perfectly attach the nav bar sections  */
#navbar_prop {
    margin-left: -12px;
}
.float_left {
   display: inline-block;
   padding: 10px;
   padding-bottom: 0px;   
   margin-left: -5px;
}

/* Border of NavBar Property */
.tect_navL {
    border-top: pink solid 1.5px;
    border-right:  pink solid 1.5px;
}
.facebook_navL {
    border-top: blue solid 1.5px;
    border-right:  blue solid 1.5px;

    /* transform: skew(15deg, 15deg); */
}
.cybersecurity_navL {
    border-top: red solid 1.5px;
    border-right:  red solid 1.5px;
}
/* Caps Property */
.uppercase {
    text-transform: uppercase;
}
.about_caption {
    margin-top: -10px;
    font-size: 15px;
    margin-bottom: 20px;
}
.icon_box {
     word-spacing: 20px;
}
.icon_size {
    width: 20px;
    height: 20px;
   
}
.grey_color {
    color:rgb(75, 75, 75);
}
.grey_color a {
    text-decoration: none;
}
/* Icon Colors , True facebook and twitter blues but custom silver on share icon */
#facebook_blue {
    color: #3b5998;
}
#twitter_blue {
    color: #38A1F3;
}

#share_silver {
    color: rgb(75, 75, 75);
}
/* Icon Size */
.fa-size {
    font-size: 20px;
}
/* Same pink from original */
.pink {
    color: #e5127d;
}
.pink2 {
    color: #e5127d;
    text-decoration: underline;
}
a {
    text-decoration: none;
}
.social_sizes {
    font-size: 12px;
}

/* Color for the NavBAr Text */
#pink{
    color: pink;
}
#blue {
    color: blue;
}
#red {
    color: red;
}
/* Facebook image postioning */
.fb_img {
    width: 100%;
    margin-top: 20px;
    }

@media (max-width: 340px){
    .fb_img {
    width: 100%;
    margin-top: 20px;
    }
}
#cap_align {
    font-size: 13px;
    margin-top: -1px;
    margin-left: 10px;
    text-align: left;
    color: rgb(75, 75, 75);
}
.section_break {
    border-bottom: solid 1px grey;
}
p {
    font-size: 18px;
    color: rgb(75, 75, 75);
}
h2 {
    border-top: solid 2px black;
    border-right: solid 2px black;
    width: 320px;
    height: 26px;
    padding-top: 10px;
    padding-bottom: 0px;
    color: black;
}
ul {
    color: purple;
}
.on_hover:hover {
    color: #e5127d;
}
.ball {
    height: 3px;
    width: 3px;
    padding-left: 5px;
    padding-right: 5px;
    color: rgb(66, 66, 202);
    background-color: #ccc;
    border-radius: 30%;
}
/* Size for View whos online section */
#com_size {
    font-size: 14px;
}
a:hover 
li:hover {
    color: #990851;
} 
/* line spacing of the paragraphs */
.line_spacing {
    line-height: 2em;
}
/* Embed video positioning */
.embeded_Vid {
    margin-top: 20px;
}
@media (max-width: 340){
    .embeded_vid_responsive {
        width: 100%;
    }
}

.embeded_vid_responsive {
        width: 100%;
        height: 416px;
}
h3 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 5px;
    font-family: quicksand;
}
#aside_container1 {
    border-top: rgb(4, 4, 148) solid 2px;
    border-right: rgb(4, 4, 148)   solid 2px; 
    padding-right: 10px;  
    margin-left: 20px;
}
/* #aside {
 
} */
#aside  img {
    margin: 10px;
    width: 100%;
    position: inherit;
    padding-right: 20px;
    margin-left: 0;
}
.p2 {
    font-size: 15px;
    margin-top: -4px;
        
}
#aside_container2{
    border: solid rgb(4, 4, 148)  2px;
    text-align: center;
    margin-left: 10px;
}
h4 {
    font-size: 20px;
    color: rgb(4, 4, 148) ;
}